<h3>All Bugs</h3>
<table>
    @foreach (var bug in Bugs)
    {
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Priority</th>
            </tr>
        </thead>
    }
</table>

@code {
    [Inject]
    public IBugService BugService { get; set; }
    public List<Bug> Bugs;

    protected override void OnInitialized()
    {
        Bugs = BugService.GetBugs().OrderBy(x => x.Priority).ToList();
    }
}
